/* ========= ProjectCard =========== */
.project-card {
  background: #1a1a1a;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 360px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
  
  .project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  }
  
  /* Imagen */
  .project-card__imageWrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Links externos */
  .project-card__links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 16px 0;
  }
  
  .project-card__link {
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.1);
    padding: 6px;
    border-radius: 10px;
    transition: background 0.2s ease;
  }
  
  .project-card__link:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  /* Categoría */
  .project-card__category {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #ffffff10;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 12px;
    backdrop-filter: blur(4px);
  }
  
  /* Contenido */
  .project-card__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .project-card__text h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #fff;
  }
  
  .project-card__text p {
    font-size: 13px;
    color: #ccc;
    margin: 0;
  }
  
  /* Tecnologías usadas */
  .project-card__tech {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  
  
.project-card__techItem {
  background-color: #2a2a2a;
  color: #aaa;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 8px;
}
  

  